@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <div class="container pt-3">
            <p>In addition to the table below, you now have access to the <NavLink href="admin">Admin Manage People</NavLink> page.</p>
        </div>
        <TableSearchSort Items="_tableRows" ColumnNamesOrdered="_tableHeaders" Title="Products Table" />
    </Authorized>
    <NotAuthorized>
        <div class="container pt-3">
            <p>To see the demo table, please <NavLink href="login">login</NavLink>.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


